process {

	maxForks = 25


}

params {

// @ warwick
//metadata = "/home/iaguilar/Ongoing_projects/counting_and_comparing_variants_100g_vs_OTGP3/nf-1000GenomesP-variant-counter/test/metadata/integrated_call_samples_v3.20130502.ALL.panel"
// @ luna
metadata = "/home/iao/PhD/100G-MX-descriptive_analysis/count_variants_in_1000GenomesPp3/nf-1000GenomesP-variant-counter/test/metadata/integrated_call_samples_v3.20130502.ALL.panel"
}
